@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #1A1A1A;
    background-color: #FFFFFF;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.outlined-text {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.inlined-text {
    text-shadow: none;
}

strong {
    font-family: Gilroy-Bold;
}

input:checked~.dot {
    transform: translateX(100%);
}

input:checked~ {
    background-color: green;
}
